@model PDC_BeachDy.Models.User
@{
    ViewBag.Title = "SignIn";
}


<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="@Url.Content("~/content/images/favicon.png")" type="image/png" />

    <!--====== CSS Files ======-->
    <link rel="stylesheet" href="@Url.Content("~/content/css/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/nice-select.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/slick.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/ion.rangeSlider.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/fontawesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/style.css")" />
</head>

<body class="gray-bg">

    <!-- PRELOADER -->
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HEADER -->
    <header class="header_area">
        <div class="header_navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="@Url.Action("Home", "BeachDY")">
                        <img src="@Url.Content("~/content/images/logo.png")" alt="logo" width="320px" />
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li><a  href="@Url.Action("Home", "BeachDY")">Home <span class="line"></span></a></li>
                            <li><a href="@Url.Action("Categories", "BeachDY")">Categories <span class="line"></span></a></li>

                            @if (Session["UserId"] == null)
                            {
                                <li><a class="active" href="@Url.Action("SignIn", "BeachDY")">Sign In <span class="line"></span></a></li>
                                <li><a href="@Url.Action("SignUp", "BeachDY")">Sign Up <span class="line"></span></a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="#">My Account <i class="fa fa-angle-down"></i> <span class="line"></span></a>
                                    <ul class="sub-menu">
                                        <li><a href="@Url.Action("DashBoard", "BeachDY")">Dashboard</a></li>
                                        <li><a href="@Url.Action("My_Ads", "BeachDY")">My Ads</a></li>
                                        <li><a href="@Url.Action("My_Favourites", "BeachDY")">My Favourites</a></li>

                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>

                    @if (Session["UserId"] != null)
                    {
                        <div class="navbar_btn" style="margin-left: -230px;">
                            <ul>

                                <li><a class="sign-up" href="@Url.Action("Post_Ad", "BeachDY")">Post Ads</a></li>
                                <li><a class="navbar-nav" href="@Url.Action("Sign_out", "BeachDY")"> Sign Out </a></li>
                            </ul>
                        </div>
                    }
                </nav>
            </div>
        </div>
        <div class="page_banner bg_cover" style="background-image: url('@Url.Content("~/content/images/page-banner.jpg")')">
            <div class="container">
                <div class="page_banner_content">
                    <h3 class="title">@ViewBag.PageTitle</h3>
                    <ul class="breadcrumb">
                        <li><a href="@Url.Action("Home", "BeachDY")">Home</a></li>
                        <li>@ViewBag.PageTitle</li>
                    </ul>
                </div>
            </div>
        </div>

    </header>
    <!--====== HEADER PART ENDS ======-->
    <!--====== SIGN IN PART START ======-->
    <section class="sign_in_area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-9">
                    <div class="sign_in_form">
                        <div class="sign_title">
                            <h5 class="title">Sign In Now</h5>
                        </div>
                        <form action="@Url.Action("SignIn", "BeachDy")" method="post">
                            <div class="sign_form_wrapper">
                                <div class="single_form">
                                    <input type="email" name="username" placeholder="Username" required>
                                    <i class="fal fa-user"></i>
                                </div>
                                <div class="single_form">
                                    <input type="password" name="password" placeholder="Password" required>
                                    <i class="fal fa-key"></i>
                                </div>
                                <div class="single_form d-sm-flex justify-content-between">
                                    <div class="sign_forgot">
                                        <a href="@Url.Action("ForgotPassword", "BeachDy")">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="single_form">
                                    <button class="main-btn" type="submit">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== SIGN IN PART ENDS ======-->
    <!--====== FOOTER PART START ======-->
    <footer class="footer_area">
        <div class="footer_copyright pt-15 pb-30">
            <div class="container">
                <div class="footer_copyright_wrapper text-center d-sm-flex justify-content-between align-items-center">
                    <div class="copyright mt-15">
                        <p>Designed and Developed by <a href="https://graygrids.com/" rel="nofollow">Raqeeb Ahmed</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--====== FOOTER PART ENDS ======-->
    <!--====== BACK TOP TOP PART START ======-->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <!--====== BACK TOP TOP PART ENDS ======-->
    <!--====== Jquery js ======-->
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/ion.rangeSlider.min.js"></script>
    <script src="~/Content/js/ajax-contact.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>

</html>

